@model IEnumerable<DebatersMag.Models.Events>

@{
    ViewData["Title"] = "List";
}

<br>
<br>
<br>
<br>
<br>
<a href="/Main/Eindex" class="btn btn-success btn-success">Add Event</a>
<br>

<h2>Upcoming Events are: <span class="label label-success">@Model.Count()</span></h2>



<table id="mytable" class="fa-border">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>

            </tr>
        }
    </tbody>
</table>


@section scripts
    {
    <script>

        $(function () {

            $('#mytable').DataTable();
        });


    </script>
}